
.header{
    background-color: #c7d7e7;
    text-align: center;
    color: #000000;
    padding: 20px;

}

.header a{
    color:rgb(23, 112, 120);
   
}

#about{
    justify-content:center;
    padding: 20px;

}


